@import 'common';
@import 'fonts';
@import './bootstrap';

#root .scEmptyPlaceholder {
  width: 100%;
}

@include break-md {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData,
.scpm {
  display: none !important;
}


html, body {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  color: #131313;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}


a:link {
  text-decoration: none;
  color: #0088cc;
}

a:hover {
  text-decoration: underline;
}



@import './typography';
@import 'buttons';
@import 'spacers';
