<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<group groupName="layoutService">
				<pipelines>
					<renderJsonRendering>
						<processor type="Demo.Foundation.Pipelines.LayoutService.InitializeJsonRendering, Demo.Foundation" resolve="true"
						           patch:instead="*[@type='Sitecore.LayoutService.Presentation.Pipelines.RenderJsonRendering.Initialize, Sitecore.LayoutService']"/>
					</renderJsonRendering>
				</pipelines>
			</group>
		</pipelines>
	</sitecore>
</configuration>